@charset "UTF-8";

/* 初期表示設定を消す */
input, select, button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

/* 背景、タイトル */
.wrapper{
  width: 100%;
  background-color: #cff1ff;
} 
.page_title{
  padding-top: 60px;
  font-size: 28px;
  text-align: center;
}

/* 基本となる幅の設定 */
.inner{
  margin: 0 auto;
  width: 600px;
}

/* 薄い水色部分の設定 */
.form_wrap{
  padding: 50px;
  margin-top: 60px;
  background-color: #ecfaff;  
}

/* フォーム内 */
.font_title{
  font-size: 24px;
  text-align: center;
}
.content_title{
  font-size: 18px;
} 
.label_section{
  margin-top: 25px;
}
.label_text{
  font-size: 14px;
  color: #464646;
}
.is_flex{
  display: flex;
}
.content{
  margin-top: 50px;
}

/* テキストボックス共通 */
.box_prop{
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: #545658;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background-color: #fbfbfb;
}
.box_prop:focus {
  background-color: #fff;
  border-color: rgba(93, 130, 194, 0.4);
  box-shadow: 0px 0px 0px 2px rgba(1, 90, 191, 0.1);
}
.required{
  color: #e40000;
}


/* 性別選択箇所 */
.gender_area{
  margin-top: 6px;
}
.gender_element {
  margin-left: 10px;
}
.gender_element:first-child {
  margin-left: 0;
}
.gender_element span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  color: #545658;
}
.gender_element span::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transform: translateY(-50%);
}
.gender_content:checked + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #017cbf;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* 購読情報チェックボックス */
.subsc_label{
  position: relative;
  padding-left: 25px;
}
.subsc_label:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
.subcr_unit input:checked + .subsc_label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 6px;
  height: 13px;
  margin-top: -11px;
  border-right: 3px solid #0140bf;
  border-bottom: 3px solid #0140bf;
  transform: rotate(45deg);
}

/* アカウント作成ボタン */
.button{
  display: inline-block;
  width: 100%;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
.button_submit{
  padding: 13px;
  background: #0170bf;
  color: #fff;
}
.button_submit:active {
  background: #fff;
  color: #0170bf;
  border: 1px solid #d9d9d9;
}

/* 注意書きのテキスト */
.other_text{
  margin-top: 25px;
  font-size: 10px;
}
.link_color{
  color: #0170bf;
  text-decoration: none;
}